%html
  %body
    %form
      #Necessary{:class=>'necessary'}
        %p Necessary fields
        - @description.fields.each do |key, value|
          - if value.isRequired
            %div
              = key
              - if value.getOperator == "EQ"
                %input{:type=>value.getType, :name=>key, :class=>key, :value=>params[key]}
              - else
                - lower_name = key + '_lower' 
                - upper_name = key + '_upper'
                %label between
                %input{:type=>value.getType, :name=>lower_name, :class=>key, :value=>params[lower_name]}
                %label and
                %input{:type=>value.getType, :name=>upper_name, :class=>key, :value=>params[upper_name]}
      %hr
      #Optional{:class=>'optional'}
        %p Optional fields
        - @description.fields.each do |key, value|
          - if !value.isRequired
            %div
              = key
              - if value.getOperator == "EQ"
                %input{:type=>value.getType, :name=>key, :class=>key, :value=>params[key]}
              - else
                - lower_name = key + '_lower' 
                - upper_name = key + '_upper'
                %label between
                %input{:type=>value.getType, :name=>lower_name, :class=>key, :value=>params[lower_name]}
                %label and
                %input{:type=>value.getType, :name=>upper_name, :class=>key, :value=>params[upper_name]}
      %hr
      .form-actions
        %button.btn.btn-primary{type: 'submit'} Search
      %hr
