%html
  - message_type, index_name = IndexHelper.getMessageTypeIndexName(params, @description)
  - descripition = @description.getMessages[message_type].getIndex[index_name]
  %body
    =render 'form', :message_type=>message_type, :index_name=>index_name, :descripition=>descripition
  %hr
    =render 'results', :names=>descripition.getFields.keys, :results=>@results.getResults
